html, body {
    background: url('../img/bg.jpg') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* background-position: 60%; TODO for media queries*/ 
}

.logo-text {
    font-family: 'Catamaran', sans-serif;
    font-weight: 749;
}

main {
    display: flex;
    height: calc(100vh - 128px);
    /* overflow-y: scroll; */
}

td {
    padding: 10px;
}

.trash {
    width: 25px;
    height: 25px;
    background: url('../img/trash.png');
}

.edit {
    width: 25px;
    height: 25px;
    background: url('../img/edit.png');
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 60px;
}

.error-msg {
    background: rgba(0, 0, 0, 0.11);
    background: rgb(179, 33, 33);
    text-align: center;
}

.info-msg {
    background: rgb(74, 141, 141);
    text-align: center;
}

.success-msg {
    background: rgb(58, 151, 58);
    text-align: center;    
}

.modal {
    align-items: center;
    background: #0000006b;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.modal-inner-div {
    background: white;
    border-radius: 10px;
    padding: 100px;
}

.todo-completed {
    text-decoration: line-through;
}

.todo-table {
    right: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
}

/* TODO: ANIMATE CSS */

.fade-in-image {
    animation: fadeIn 0.7s;
    -webkit-animation: fadeIn 0.7s;
    -moz-animation: fadeIn 0.7s;
    -o-animation: fadeIn 0.7s;
    -ms-animation: fadeIn 0.7s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

.fade-out-image {
    animation: fadeOut 0.7s;
    -webkit-animation: fadeOut 0.7s;
    -moz-animation: fadeOut 0.7s;
    -o-animation: fadeOut 0.7s;
    -ms-animation: fadeOut 0.7s;
}

@keyframes fadeOut {
      0% {opacity:1;}
    100% {opacity:0;}
}

@-moz-keyframes fadeOut {
      0% {opacity:1;}
    100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
      0% {opacity:1;}
    100% {opacity:0;}
}

@-o-keyframes fadeOut {
      0% {opacity:1;}
    100% {opacity:0;}
}

@-ms-keyframes fadeOut {
      0% {opacity:1;}
    100% {opacity:0;}
}











/* LOGO RELATED */

.wrapper-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-checkmark__circle {
    stroke-dasharray:  166;
    stroke-dashoffset: 0;
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke: #0284C7;
    fill: none;
}

.hover-out {
    animation: fillOut .2s ease-in-out forwards;
}

.logo-checkmark {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: block;
    stroke: #0284C7;
    stroke-width: 4;
    stroke-miterlimit: 10;
    box-shadow: inset 0px 0px 0px #0284C7;
}

.main-logo:hover .logo-checkmark {
    stroke-width: 4;
    animation: fill .4s ease-in-out forwards;
    stroke: #fff;
    transition-property: all;
}

.logo-checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 0
}

@keyframes fill {
    0% { box-shadow: inset 0px 0px 0px 0px #0284C7; }
    100% { box-shadow: inset 0px 0px 0px 90px #0284C7; }
}
@keyframes fillOut {
    0% { box-shadow: inset 0px 0px 0px 90px #0284C7; stroke: #fff; }
    100% { box-shadow: inset 0px 0px 0px 0px #0284C7; stroke: #0284C7; }
}

/* List Rounded Borders */
th:first-of-type { border-radius: 0.5rem 0; }
th:last-of-type { border-radius: 0 0.5rem; }
tr:last-of-type td:first-of-type { border-radius: 0 0.5rem; }
tr:last-of-type td:last-of-type { border-radius: 0 0 0.5rem; }